<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>用户管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/js/commons/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/commons/base.css" media="all">
</head>
<body>
<form class="layui-form layui-form-pane">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="search_user_name" name="search_user_name" autocomplete="off">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">真实姓名</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="search_user_real_name" name="search_user_real_name" autocomplete="off">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-inline">
                <select class="layui-select" id="search_user_sex" name="search_user_sex">
                    <option value="">请选择</option>
                    <option value="0">男</option>
                    <option value="1">女</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">电话</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="search_user_phone" name="search_user_phone" autocomplete="off">
            </div>
        </div>
        <div class="layui-inline">
            <button type="button" class="layui-btn" id="searchBtn">查询</button>
            <button type="reset" class="layui-btn" id="resetBtn">重置</button>
            <shiro:hasPermission name="user_add">
                <button type="button" class="layui-btn" id="addBtn">新增</button>
            </shiro:hasPermission>
        </div>
    </div>
</form>

<table class="layui-hide" id="dataTable" lay-filter="dataTable"></table>

<script type="text/html" id="rightToolbar">
    <shiro:hasPermission name="user_edit">
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">编辑</a>
    </shiro:hasPermission>
    <shiro:hasPermission name="user_del">
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </shiro:hasPermission>
</script>

<script type="text/html" id="freezeTpl">
    <shiro:hasPermission name="user_freeze">
        {{#  if(d.enable == 1){ }}
        <input type="checkbox" id="freeze" name="freeze" lay-skin="switch" lay-filter="freezeSwitch" lay-text="冻结|解冻" dataid="{{d.id}}" />
        {{#  } else { }}
        <input type="checkbox" id="freeze" name="freeze" lay-skin="switch" lay-filter="freezeSwitch" lay-text="冻结|解冻" checked="" dataid="{{d.id}}" />
        {{#  } }}
    </shiro:hasPermission>
</script>

</body>
</html>
<script charset="utf-8" src="/js/commons/layui/layui.all.js" ></script>
<script charset="utf-8" src="/js/commons/jquery.js"></script>
<script src="/js/mng/system/user_list.js"></script>