<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>登录</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
    <input type="text" name="username" id="username" placeholder="用户名" autocomplete="off" value="admin"><br />
    <input type="password" name="password" id="password" placeholder="密  码" autocomplete="off" value="admin"><br />
    <input type="button" name="login" value="登录" id="login" onclick="login()">
</body>
</html>
<script src="/js/commons/jquery.js"></script>
<script src="/js/mng/login.js"></script>